.container{
    min-height: 600px;
    border: 3px solid black;
    display: flex;
    gap: 20px;
    align-items: start;
}

#box1{
    /* flex-grow: 1; */
    /* flex-wrap: 0; */
    align-self: center;
}

.box{
    display: flex;
    /* flex-grow: 0; */
    /* flex-wrap: 1; */
    justify-content: center;
    align-items: center;
    background-color: aqua;
    height: 100px;
    width: 100px;
    font-size: 20px;
}
