.grid-container{
    display: grid;
    /* grid-template-columns: 100px 100px 100px; */
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    /* grid-auto-columns: 100px;
    grid-auto-rows: 100px; */
    /* grid-auto-flow: column; */
    gap: 10px;
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.item{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100px;
    background: orange;
    font-size: 20px;
}