*{
    font-family: Arial;
}

h1, h2{
    color: blue;
    text-align: center;
    border: 2px solid black;
}

.greatings{
    color: red;
}



#unique{
    background-color: aqua;
}

div > p {
    font-size: 18px;
}


.box{
    background-color: aqua;
    color: blue;
    width: 300px;
    padding: 20px;
    margin: 30px auto;
    border: 2px solid black;
    text-align: center;
    border-radius: 10px;
}

div{
    display: block;
    background: lightblue;
    margin-bottom: 10px;
}

span{
    display: inline;
    background: red;
}

.box1{
    width: 150px;
    height: 150px;
    background:aqua;
    position: relative;
    top: 20px;
    left: 30px;
}

.box2{
    width: 100px;
    height: 100px;
    background: red;
    position: absolute;
    top: 50px;
    left: 50px;
}

.fixed{
    position: fixed;
    bottom: 10px;
    right: 10px;
    background: yellow;
    padding: 10px;
}

.parent{
    width: 110px;
    height: 110px;
    background-color: aqua;
    margin: 20px;
    position: absolute;
}

.child{
    width: 100px;
    height: 100px;
    background-color: aquamarine;
    position:absolute;
    left: 20px;
    top: 30px;
}






